#app {
  --font-color: hsl(200, 15%, 8%);
  --element-color: hsl(0, 0%, 100%);
  --background-color: hsl(0, 0%, 98%);
  --input-font-color: hsl(0, 0%, 52%);
}

#app.dark {
  --font-color: hsl(0, 0%, 100%);
  --element-color: hsl(209, 23%, 22%);
  --background-color: hsl(207, 26%, 17%);
  --input-font-color: hsl(0, 0%, 100%);
}

$family-sans-serif: 'Nunito Sans', sans-serif;
$weight-normal: 300;
$weight-medium: 600;
$weight-bold: 800;
$body-weight: $weight-normal;
$body-color: var(--font-color);
$box-color: $body-color;
$box-shadow: 0 0.2em .5em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
$input-shadow: 0 0.2em .5em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
$input-focus-box-shadow-size: 0;

// Import only what you need from Bulma
@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/helpers/typography.sass";
@import "~bulma/sass/helpers/flexbox.sass";
@import "~bulma/sass/helpers/visibility.sass";
@import "~bulma/sass/helpers/spacing.sass";
@import "~bulma/sass/elements/button.sass";
@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/elements/box.sass";
@import "~bulma/sass/elements/image.sass";
@import "~bulma/sass/grid/columns.sass";
@import "~bulma/sass/layout/hero.sass";
@import "~bulma/sass/components/dropdown.sass";
@import "~bulma/sass/form/shared.sass";
@import "~bulma/sass/form/input-textarea.sass";
@import "~bulma/sass/form/tools.sass";
